SUPABASE_PROJECT_ID="elnhsroicsaqqscbqyzf"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_X3yNSvgUbeZoH3PNADRbsQ_zw7Jqzpv"
SUPABASE_URL="https://elnhsroicsaqqscbqyzf.supabase.co"
VITE_SUPABASE_PROJECT_ID="elnhsroicsaqqscbqyzf"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_X3yNSvgUbeZoH3PNADRbsQ_zw7Jqzpv"
VITE_SUPABASE_URL="https://elnhsroicsaqqscbqyzf.supabase.co"
ADMIN_PASSWORD="kart2026"
