SUPABASE_PROJECT_ID="faldglzveuiipwzncjgd"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_yYzim1MAbzpB5n84tYOzGQ_tZuIT-jq"
SUPABASE_SERVICE_ROLE_KEY="sua_supabase_secret_key_aqui"
SUPABASE_SECRET_KEY="sua_supabase_secret_key_aqui"
SUPABASE_URL="https://faldglzveuiipwzncjgd.supabase.co"
VITE_SUPABASE_PROJECT_ID="faldglzveuiipwzncjgd"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_yYzim1MAbzpB5n84tYOzGQ_tZuIT-jq"
VITE_SUPABASE_URL="https://faldglzveuiipwzncjgd.supabase.co"
ADMIN_PASSWORD="kart2026"
